<html>
<body>
  Driving License Details <br>
  {{adhaarid}} <br>
  {{name}} <br>
  {{dlid}} <br>
  {{doi}} <br>
  <p><a href="adhaar_home.html"><button>Go To Adhaar Portal</button></a></p><br>
</body>
</html>
